@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: $base-font-size;
  line-height: map-get($line-height, base);
  font-weight: map-get($font-weight, normal);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus,
button {
  cursor: pointer;
}

#app {
  height: 100%;
}
