@import '_helpers';

.btn {
  display: inline-block;
  padding: $btn-padding;
  border: none;
  border-radius: $btn-border-radius;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-size: $btn-size-base;
  background-color: transparent;
  @each $key, $value in $btn-sizes {
    &-#{$key} {
      font-size: $value;
    }
  }

  @each $key, $value in $toggle-colors-plan {
    &-#{$key} {
      background-color: map-get($theme-colors, $key);

      @if index($light-color-system, $key) {
        color: $dark;

        &:hover,
        &:focus,
        &:active {
          background-color: $value;
          color: $light;
        }
      } @else if index($dark-color-system, $key) {
        color: $light;

        &:hover,
        &:focus,
        &:active {
          background-color: $value;
          color: $dark;
        }
      }
    }
  }
  @each $key, $value in $theme-colors {
    &-outline-#{$key} {
      border: 1px solid $value;
      color: $value;
      @if index($light-color-system, $key) {
        &:hover,
        &:focus,
        &:active {
          background-color: $value;
          color: $dark;
        }
      } @else if index($dark-color-system, $key) {
        &:hover,
        &:focus,
        &:active {
          background-color: $value;
          color: $light;
        }
      }
    }
  }
}

.tag {
  margin: 0.5rem;
  padding: 0.25rem 0.7rem;
  font-size: $font-sizes-7;
  font-weight: map-get($font-weight, light);
  border-radius: 28px;
}

.navbar {
  &__wrap {
    width: 100%;
    text-align: center;
    @include media-breakpoint(lg) {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &__brand {
    line-height: 4rem;
  }
  &__menu {
    width: 100%;
    position: absolute;
    top: 100%;
    transform-origin: top;
    transition: transform 0.3s ease-out;
    transform: scale(1, 0);
    @include media-breakpoint(lg) {
      width: auto;
      position: static;
      transform: none;
      background: transparent;
    }
  }
  &__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint(lg) {
      flex-direction: row;
      height: 100%;
    }
  }
  &__link {
    display: block;
    width: 100%;
    padding: 0.75rem;
  }
  &__item {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint(lg) {
      opacity: 1;
      width: auto;
    }
  }
  &__toggle {
    &__input {
      visibility: hidden;
      position: absolute;
      &:checked ~ .navbar__menu {
        transform: scale(1, 1);
      }
      &:checked ~ .navbar__menu .navbar__item {
        transition: opacity 0.2s ease-out 0.15s;
        opacity: 1;
      }
      @include media-breakpoint(lg) {
        display: none;
      }
    }
    &__label {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 7.5%;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include media-breakpoint(lg) {
        display: none;
      }
    }
    &__icon {
      position: relative;
    }
  }
}
